h1, h2{
    display: flex;  
    justify-content: center;
    align-items: center;
    color: lightgray;
}

button {
    height: 100px;
    width: 200px;
    margin: 18px;
    background-color: lightgray;
}

.bt1{
 display: flex;
 justify-content: center;
 align-items: center;
}

.bt2  {
    display: flex;
    justify-content: center;
    align-items: center;
   }

.bt3  {
    display: flex;
    justify-content: center;
    align-items: center;
   }

.bt4  {
    display: flex;
    justify-content: center;
    align-items: center;
   }
